
<div class="navbar action-bar">
  <div class="navbar-inner">
    <ul class="nav">
      <li><a href="<%= fly_travel_plan_path %>"><img src="/action/fly.png" /><span>Fly</span></a></li>
      <li><a href="<%= traffic_travel_plan_path %>"><img src="/action/drive.png" /><span>Drive</span></a></li>
      <li><a href="<%= sleep_travel_plan_path %>"><img src="/action/sleep.png" /><span>Sleep</span></a></li>
      <li><a href="<%= eat_travel_plan_path %>"><img src="/action/eat.png" /><span>Eat</span></a></li>
      <li><a href="<%= map_travel_plan_path %>"><img src="/action/navigate.png" /><span>Navigate</span></a></li>
      <li><a href="<%= discover_travel_plan_path %>"><img src="/action/sightseeing.png" /><span>Discover</span></a></li>
      <li><a href="<%= shop_travel_plan_path %>"><img src="/action/pay.png" /><span>Shop</span></a></li>
    </ul>
</div>
</div>
